In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind

In [15]:
data=pd.read_csv("dataset w7 (1).csv")
data

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

## 1. Carry out descriptive analytics on the dataset.

In [3]:
#Find Null
data.isnull().sum()

Gender              0
Test preparation    0
Total Marks         0
dtype: int64

In [4]:
#Mean
mean=data['Total Marks'].mean()
print("Mean of the total marks",mean)

Mean of the total marks 32.32142857142857

In [5]:
#Standard deviation
sd=data["Total Marks"].std()
print("SD of Total Marks is: ",sd)

SD of Total Marks is:  12.454520438984368

In [27]:
data.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

## 2. Check whether female and male students scored the same marks.

In [6]:
#H0:Male and female students doesn't score same marks
#H1:Male and female students score same marks

In [25]:
alpha=.05
dm=data[data["Gender"]=="male"][["Total Marks"]]
df=data[data["Gender"]=="female"][["Total Marks"]]
t_score,p_value=ttest_ind(df,dm)
print('The test result is:', t_score, p_value)

The test result is: [0.69408853] [0.49378223]

In [19]:
if (p_value>alpha):
   print("Failing to Reject Null Hypothesis")
else:
   print("Rejecting Null Hypothesis")

Failing to Reject Null Hypothesis

In [9]:
#Based on the testing carried out on the data that is given we are failing to reject the null hypothesis.

In [10]:
#I conclude Male and female doesn't score same marks

## 3. Whether test preparation helps the students?

In [11]:
#H0:Test preparation did not help the students
#H1:Test preparation helped the students

In [26]:
tc=data[data["Test preparation"]=="completed"][["Total Marks"]]
tn=data[data["Test preparation"]=="none"][["Total Marks"]]
t_score,p_value=ttest_ind(tc,tn)
print('The test result is:', t_score, p_value)
if (p_value>alpha):
    print("Failing to reject the Null Hypothesis")
else:
    print("Rejeting Null Hypothesis")

The test result is: [3.61436375] [0.00126713]
Rejeting Null Hypothesis

In [13]:
#Based on the testing carried out on the data that is given we are rejecting the null hypothesis.

In [21]:
#I conclude Test preparation helped the students