In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv("dataset w7.csv")
data

    Gender Test preparation  Total Marks
0     male             none           12
1   female             none           13
2   female             none           14
3   female             none           14
4   female             none           18
5   female        completed           18
6     male             none           21
7   female             none           23
8     male             none           24
9     male             none           27
10    male        completed           27
11    male             none           28
12    male        completed           28
13    male             none           30
14  female             none           36
15  female             none           38
16  female        completed           40
17  female             none           41
18    male             none           41
19    male             none           43
20    male             none           43
21    male        completed           44
22  female             none           44
23  female             none           45
24  female             none           47
25  female             none           48
26  female        completed           48
27  female        completed           50

## 1. Carry out descriptive analytics on the dataset.

In [3]:
#Find Null
data.isnull().sum()

Gender              0
Test preparation    0
Total Marks         0
dtype: int64

In [4]:
#Mean
mean=data['Total Marks'].mean()
print("Mean of the total marks",mean)

Mean of the total marks 32.32142857142857

In [5]:
#Standard deviation
sd=data["Total Marks"].std()
print("SD of Total Marks is: ",sd)

SD of Total Marks is:  12.454520438984368

## 2. Check whether female and male students scored the same marks.

In [6]:
#H0:Male and female students doesn't score same marks
#H1:Male and female students score same marks

In [7]:
from scipy.stats import ttest_ind
alpha=.05
dm=data[data["Gender"]=="male"][["Total Marks"]]
df=data[data["Gender"]=="female"][["Total Marks"]]
_,p_value=ttest_ind(dm,df)

In [8]:
if (p_value>alpha):
   print("Failing to Reject Null Hypothesis")
else:
   print("Rejecting Null Hypothesis")

Failing to Reject Null Hypothesis

In [9]:
#Based on the testing carried out on the data that is given we are failing to reject the null hypothesis.

In [10]:
#I conclude Male and female doesn't score same marks

## 3. Whether test preparation helps the students?

In [11]:
#H0:Test preparation did not help the students
#H1:Test preparation helped the students

In [12]:
tc=data[data["Test preparation"]=="completed"][["Total Marks"]]
tn=data[data["Test preparation"]=="none"][["Total Marks"]]
t_score,p_value=ttest_ind(tn,tc)
print("The T-score is:",t_score)
if (p_value>alpha):
    print("Failing to reject the Null Hypothesis")
else:
    print("Rejeting Null Hypothesis")

The T-score is: [-1.00775841]
Failing to reject the Null Hypothesis

In [13]:
#Based on the testing carried out on the data that is given we are failing to reject the null hypothesis.

In [14]:
#I conclude Test preparation did not help the students